#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# for usage with Built-Using
sourcedep_asterisk := \
	$(shell dpkg-query \
		--showformat 'asterisk (= $${Version})' \
		--show asterisk)

%:
	dh $@

override_dh_gencontrol:
	dh_gencontrol -- -Vsourcedep:asterisk='$(sourcedep_asterisk)'
